{
    "AccessKey": "<Your Access Key>",
    "SecretKey": "<Your Secret Key>",
    "Bucket": "<Your Bucket Name>",
    "Port": 9000,
    "UptokenUrl": "uptoken",
    "Domain": "<Your Bucket Domain>"
};
