{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 8"]
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "corejs": 2
      }
    ],
    "@babel/proposal-object-rest-spread"
  ],
  "ignore": ["**/*.d.ts", "**/*.js.map"]
}
