<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>七牛云存储 - JavaScript SDK</title>
	<link href="/image/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="/add-on/bootstrap-3.3.2/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/add-on/highlight/highlight.css">

	<!--[if lt IE 9]>
      <script src="/add-on/Respond-1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fulid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">JS-SDK</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav"  id="js-navbar-nav">
            <li>
              <a href="/">开始</a>
            </li>
            <li>
              <a href="/docs">文档</a>
            </li>
            <li>
              <a href="/demo">Demo</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://expo.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Expo</a></li>
            <li><a href="http://blog.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a></li>
          </ul>
        </nav>
      </div>
    </nav>

  <header class="sb-page-header">
      <div class="container">
          <h1>七牛云存储 JS-SDK</h1>
          <p>简单、快捷上传至七牛云存储的网页端解决方案</p>
          <div id="carbonads-container">
            <div class="carbonad">
                <div id="azcarbon"></div>
            </div>
        </div>
      </div>
  </header>
  <div class="container">
        <h1 class="page-header">文档</h1>
        <h2>初始化参数</h2>


        <p class="lead">runtimes</p>
        <p>上传模式,依次退化。建议采用 'html5,flash,html4' 顺序</p>
        <p class="lead">browse_button，**必需**</p>
        <p>选择上传的按钮</p>
        <p class="lead">container</p>
        <p>上传区域DOM ID，默认请填写browser_button的父元素</p>
        <p class="lead">drop_element</p>
        <p>拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传</p>
        <p class="lead">flash_swf_url</p>
        <p>引入flash,相对路径</p>
        <p class="lead">uptoken_url</p>
        <p>Ajax请求upToken的Url，**强烈建议设置**（服务端提供）</p>
        <p class="lead"></p>
        <p></p>
        <p class="lead"></p>
        <p></p>
        <p class="lead"></p>
        <p></p>
        <p class="lead"></p>
        <p></p>
        <p class="lead"></p>
        <p></p>
        <p class="lead"></p>
        <p></p>
        <p class="lead"></p>
        <p></p>


<!-- runtimes: 'html5,flash,html4',    //
                browse_button: 'pickfiles',       //
                uptoken_url: '/token',            //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）
                // uptoken : '<Your upload token>', //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成
                // unique_names: true, // 默认 false，key为文件名。若开启该选项，SDK为自动生成上传成功后的key（文件名）。
                // save_key: true,   // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK会忽略对key的处理
                domain: 'http://qiniu-plupload.qiniudn.com/',   //bucket 域名，下载资源时用到，**必需**
                container: 'container',           //上传区域DOM ID，默认是browser_button的父元素，
                max_file_size: '100mb',           //最大文件体积限制
                flash_swf_url: 'js/plupload/Moxie.swf',  //引入flash,相对路径
                max_retries: 3,                   //上传失败最大重试次数
                dragdrop: true,                   //开启可拖曳上传
                drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
                chunk_size: '4mb',                //分块上传时，每片的体积
                auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传 -->

  </div>
</div>




<script src="/add-on/jquery-1.9.1.min.js"></script>
<script src="/add-on/bootstrap-3.3.2/js/bootstrap.min.js"></script>
<!-- <script src="/add-on/plupload-2.1.2/js/plupload.full.min.js"></script> -->
<script src="/add-on/plupload-2.1.2/js/moxie.js"></script>
<script src="/add-on/plupload-2.1.2/js/plupload.dev.js"></script>
<script src="/add-on/plupload-2.1.2/js/i18n/zh_CN.js"></script>
<script src="/add-on/highlight/highlight.js"></script>

<script src="/js/ui.js"></script>
<script src="/js/qiniu.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
