<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七牛云存储 - JavaScript SDK</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="js/highlight/highlight.css">
</head>
<body>
    <div class="container">
        <form method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">
          <input name="token" id="form-token" type="hidden" value="">
          <input name="file" type="file" />
          <button>提交</button>
        </form>
    </div>

    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/highlight/highlight.js"></script>
    <script type="text/javascript" src="/js/form-upload.js"></script>
</body>
</html>
