<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>七牛云存储 - JavaScript SDK</title>
	<link href="image/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="add-on/bootstrap-3.3.2/css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="add-on/highlight/highlight.css">

	<!--[if lt IE 9]>
      <script src="add-on/Respond-1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fulid">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">JS-SDK</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav" id="js-navbar-nav">
            <li class="active">
              <a href="/">开始</a>
            </li>
            <li>
              <a href="/docs">文档</a>
            </li>
            <li>
              <a href="/demo">Demo</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://expo.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Expo</a></li>
            <li><a href="http://blog.getbootstrap.com" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a></li>
          </ul>
        </nav>
      </div>
    </nav>

  <header class="sb-page-header">
      <div class="container">
          <h1>七牛云存储 JS-SDK</h1>
          <p>简单、快捷上传至七牛云存储的网页端解决方案</p>
          <div id="carbonads-container">
            <div class="carbonad">
                <div id="azcarbon"></div>
            </div>
        </div>
      </div>
  </header>
  <div class="container">
    <h1 class="page-header">概述</h1>
    <h3>功能</h3>
    <ul class="">
      <li>浏览器端直接上传文件至七牛云存储，并提供下载链接</li>
      <li>支持为每个文件配置单独的上传 token</li>
      <li>支持自定义上传域名，自动匹配合适的上传域名(https 或 http)</li>
      <li>在 HTML5 模式下，大于 4M 的文件支持分块上传、断点续上传</li>
      <li>支持 HTML5、Flash、HTML4 依次退化上传</li>
      <li>继承了所有 Plupload 插件的功能</li>
    </ul>
    <h3>依赖</h3>
    <ul>
      <li>JS-SDK 依赖于 Plupload 插件，必须先引入 Plupload</li>
      <li>JS-SDK 依赖服务端提供上传 token</li>
    </ul>
    <h3>不推荐场景</h3>
    <ul>
      <li>低版本的IE（IE6/7）。虽然理论上 JS-SDK 支持低版本IE，但并未充分测试，所以可能出现兼容性问题</li>
      <li>专门面向移动端的网站。Plupload 插件太重，推荐选择更轻量的上传插件或者自行开发</li>
    </ul>
    <h1 class="page-header">开发</h1>
    <h3>1、引入 Plupload 及 JS-SDK</h3>
    <p>Plupload 可以从其项目官网<a href="http://plupload.com/download" target="_blank">下载</a>，也可以直接利用本项目 <a href="https://github.com/qiniu/js-sdk" class=""  target="_blank">JS-SDK</a>下的目录(demo/add-on/plupload-2.1.2）的文件。</p>
    <p>JS-SDK 直接从 <a href="https://github.com/qiniu/js-sdk" class=""  target="_blank">JS-SDK</a>下载。</p>
    <p>开发环境：</p>
    <pre>
      <code>
        <script src="<项目路径>/moxie.js"></script>
        <script src="<项目路径>/plupload.dev.js"></script>

        <script src="<项目路径>/qiniu.js"></script>
      </code>
    </pre>
    <p>产品环境：</p>
    <pre>
      <code>
        <script src="<项目路径>/plupload.full.min.js"></script>

        <script src="<项目路径>/qiniu.min.js"></script>
      </code>
    </pre>
    <h3>2、服务端准备</h3>
    <p>服务端需要基于七牛云存储提供的 ACCESS_KEY / SECRET_KEY（即AK/SK，<a href="https://portal.qiniu.com/setting/key" target="_blank">点击获取</a>）生成用于上传的 token 。</p>
    <p>开发者可以依赖七牛官方提供的各种<a href="http://developer.qiniu.com/docs/v6/sdk/" target="_blank">服务端 SDK</a>生成，也可以自己基于七牛文档-<a href="http://developer.qiniu.com/docs/v6/api/reference/security/upload-token.html" target="_blank">上传策略</a>开发。</p>
    <p>以下是用七牛 node-js 生成 token 的简单示例代码：</p>
    <pre><code>
      var qiniu = require('qiniu');
      var express = require('express');
      var app = express();

      qiniu.conf.ACCESS_KEY = 七牛 ACCESS_KEY ;
      qiniu.conf.SECRET_KEY = 七牛 SECRET_KEY ;

      var bucket_name = 七牛空间名字 ;
      var uptoken = new qiniu.rs.PutPolicy(bucket_name);

      app.get('/uptoken', function(req, res, next) {
          var token = uptoken.token();
          if (token) {
              res.json({
                  uptoken: token
              });
          }
      });
    </code></pre>
    <p>
      <strong>注意：</strong>
      上例中的 '/uptoken' 是客户端请求的 URL，用于赋值给 JS-SDK 的初始化参数 'uptoken_url'
    </p>
    <p>服务端提供的 token 通过 JSON 格式返回给浏览器端，格式约定如下：</p>
    <pre><code>
      {
        你的上传token
      }
    </code></pre>
    或
    <pre><code>
      {
        'uptoken': 你的上传token
      }
    </code></pre>
    <h3>3、JS-SDK 使用</h3>
    一个简单的示例代码如下，具体参数含义参见<a href="/docs">文档</a>，更多演示参见 <a href="/demo" class="href">Demo</a>：
    <pre><code></code></pre>
    <h1 class="page-header">运行示例</h1>
    <ul>
      <li><p>安装 <a href="http://nodejs.org/download/">Nodejs</a></p></li>

      <li><p>获取源代码：
      <code>git clone git@github.com:qiniupd/qiniu-js-sdk.git</code></p></li>

      <li><p>在根目录运行<code>npm install</code>，安装七牛 Node.js SDK、Express</p></li>

      <li><p>进入<code>demo</code>目录,修改<code>config.js</code>，<code>Access Key</code>和<code>Secret Key</code> 按如下方式获取</p>

      <ul>
      <li><a href="https://portal.qiniu.com/signup">开通七牛开发者帐号</a></li>

      <li><p><a href="https://portal.qiniu.com/setting/key">登录七牛开发者自助平台，查看 AccessKey 和 SecretKey</a> 。</p>

      <pre>
      <code class="javascript">
        module.exports = {
            'ACCESS_KEY': '',
            'SECRET_KEY': '',
            'Public_Bucket_Name': 'qiniu-plupload',
            'Public_Bucket_Domain': '',
            'Public_Uptoken_Url': '/uptoken',
            'Port': 19110,
            'Private_Bucket_Name': 'plupload-private',
            'Private_Bucket_Domain': '',
            'Private_Uptoken_Url': '/private_uptoken'
        };
      </code></pre>
      </li>
      </ul></li>

      <li><p>在<code>demo</code>目录运行<code>node server.js</code> 或者 在根目录运行<code>make</code>启动</p></li>

      <li><p>访问<code>http://127.0.0.1:18080/</code>或<code>http://localhost:18080/</code></p></li>
    </ul>
    <h1 class="page-header">贡献代码</h1>
    <ol>
      <li><p>登录 <a href="https://github.com">https://github.com</a></p></li>
      <li><p>Fork git@github.com:qiniu/js-sdk.git</p></li>
      <li><p>git clone git@github.com:Your-Github-Id/js-sdk.git</p></li>
      <li><p>创建您的特性分支 (git checkout -b new-feature)</p></li>
      <li><p>提交您的改动 (git commit -am ‘Added some features or fixed a bug’)</p></li>
      <li><p>将您的改动记录提交到远程 git 仓库 (git push origin new-feature)</p></li>
      <li><p>然后到 github 网站的该 git 远程仓库的 new-feature 分支下发起 Pull Request</p></li>
    </ol>
    <h1 class="page-header">版权及协议</h1>
    <blockquote>
    <p>Copyright © 2015 qiniu.com</p>
    </blockquote>
    <h3>基于 GPL V2 协议发布:</h3>
    <blockquote>
    <p><a href="http://www.gnu.org/licenses/gpl-2.0.html">www.gnu.org/licenses/gpl-2.0.html</a></p>
    </blockquote>
  </div>
</div>




<script src="add-on/jquery-1.9.1.min.js"></script>
<script src="add-on/bootstrap-3.3.2/js/bootstrap.min.js"></script>
<!-- <script src="add-on/plupload-2.1.2/js/plupload.full.min.js"></script> -->
<script src="add-on/plupload-2.1.2/js/moxie.js"></script>
<script src="add-on/plupload-2.1.2/js/plupload.dev.js"></script>
<script src="add-on/plupload-2.1.2/js/i18n/zh_CN.js"></script>
<script src="add-on/highlight/highlight.js"></script>

<script src="/js/ui.js"></script>
<script src="/js/qiniu.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
