body {
	font-family: '微软雅黑';
}
h1 {
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 15px;
	position: relative;
	font-weight: bold;
	margin-bottom: 15px;
	font-family: '微软雅黑';
}
h3,h4 {
	/*font-weight: bold;*/
	color: #d2d2d2;
	font-family: '微软雅黑',"Helvetica Neue", Helvetica, Arial, sans-serif;	
}
h1 .btn {
	display: block;
	font-size:  14px;
	line-height: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid #d2d2d2;
	border-bottom: none;
	border-radius:0;

}
h1 .btn:hover {
	background-color: #f5f5f5;
}
.info {
	position: relative;
}
.status {
	position: absolute;
	width: 100%;
	top:0;
}
.tip {
	padding-left: 30px;
}
.tip p {
	line-height: 1;
}
#container {
	padding-top: 50px ;
	padding-bottom: 60px ;
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 2px;
	border-radius: 3px;
	border-color: #dcdcdc;
	cursor: default;
}
#container:hover,#container:active  {
	background-color:#fff;
	border-color: #dcdcdc;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#container.draging {
  background-color:#fff;
  border-color:#999999;
}
#success {
	line-height: 30px;
	height: 30px;
	margin:20px 0;
	/*color: #ffffff;*/
/*	background-color: #47a447;
	border-color: #398439;	*/
/*	background-color: #f0ad4e;
border-color: #eea236;*/
}
#container a {
	width: 15%;
	min-width: 145px;
	border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  /* border: 1px solid #e9e9e9; */
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;

}
#container a:hover,#container a:active,#container a:focus {
  border-color: #bebebe;
  text-decoration: none;
  background-color: #fff;
  color: #262626;
  outline: none;
	-webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
}
